@page
@model IndexModel
@{
	ViewData["Title"] = "index";
}
<style>
	div {
		border: solid black;
		padding: 1em;
		margin: 1em;
		border-right: none;
		border-bottom: none;
	}
</style>
<h1>兎のライフゲーム</h1>
<div>
	<h2>ライフゲーム</h2>
	<h3>入り口</h3>
	<ul>
		<li><a href="life">ノーマル</a></li>
		<li><a href="life?norabbit=true">兎なし</a></li>
		<li><a href="life?bg=%2300FF00">GB版</a></li>
		<li><a href="life?bg=%230000FF">BB版</a></li>
		<li><a href="life?rule=23_23">高生存率</a></li>
		<li><a href="life?norabbit=true&cntx=400&cnty=400">400x400</a></li>
	</ul>
	<h3>オプション説明</h3>
	<ul>
		<li>bg: 背景色。</li>
		<li>norabbit: true = 兎なし。</li>
		<li>rule: ルール設定 (フォーマットは[誕生条件]_[生存条件])。デフォルト = 3_23</li>
		<li>cntx: 横方向の個数(16～400)</li>
		<li>cnty: 縦方向の個数(16～400)</li>
	</ul>
</div>