@page
@model IndexModel
@{
	ViewData["Title"] = "index";
	var baseColor = "linear-gradient(midnightblue, black)";
	var fieldColor1 = "green";
	var fieldColor2 = "seagreen";
	if (!string.IsNullOrEmpty(Model.Bg))
	{
		baseColor = Model.Bg;
		fieldColor1 = Model.Bg;
		fieldColor2 = Model.Bg;
	}
}
<h1>兎のライフゲーム</h1>
<ul>
	<li><a href="life">ノーマル</a></li>
	<li><a href="life?bg=%2300FF00">GB版</a></li>
</ul>